nav.nav.bg-color-primary-2
  h1.nav__header-1 Options

  .container__explanation
    .explanation Enter sector for sector analysis, or ticker for single company analysis. 
    .explanation If both fields are filled, program defaults to single company analysis.

  form.form__analysis
    .form__group
      label.label__input(for='sector') Sector
      input#sector.input__analysis(type='text', placeholder='e.g. Regional Banks')

    .form__group
      label.label__input(for='ticker') Ticker
      input#ticker.input__analysis(type='text', placeholder='e.g. AAPL US')
    
    .form__group
      label.label__input(for='token') API Token
      input#token.input__analysis(type='password')

    button.button.button__run-analysis.bg-color-primary-4.color-grey-4 Run Analysis