.selection-container.bg-color-primary-3 

  h1.selection-header-1 Select a chart

  ol.selection-list 
    //- li.selection-list-item 
    //-   span.selection-list-item__sector Regional Banks
    //- li.selection-list-item 
    //-   span.selection-list-item__name Bank of the Ozarks
    //-   span.selection-list-item__ticker OZK US


