.selection-container.bg-color-primary-3 

  h1.selection-header-1 Select a chart

  ol.selection-list 
    li.selection-list-item 
      span.results-list-item__sector Regional Banks
    li.selection-list-item 
      span.results-list-item__name Bank of the Ozarks
      span.results-list-item__ticker OZK US
    li.selection-list-item 
      span.results-list-item__ticker Independent Bank 
      span.results-list-item__ticker INDB US
    li.selection-list-item 
      span.results-list-item__ticker Citizens Financial 
      span.results-list-item__ticker CFG US

