/**********************/
/* MAIN CONTAINER */
/**********************/
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 20fr;
  grid-template-columns: 2fr 2fr 6fr;

  overflow: hidden;
}

/**********************/
/* HEADER */
/**********************/
.primary-header {
  grid-column: 1 / span 3;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 3rem;

  padding: 1rem 2rem 1rem;
}

.primary-header__quiz-title {
  font-weight: 400;
}

/**********************/
/* NAVIGATION */
/**********************/
.nav {
  grid-row: 2 / span 2;

  padding: 1rem 2rem 1rem;
}

.nav__header-1 {
  font-size: 2.5rem;
  font-weight: 700;
  
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.nav__header-2 {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group:nth-last-child(2) {
  margin-bottom: 2rem;
}

.label__input {
  /* display: block; */
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input__analysis {
  /* display: block; */
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem; 
  border: none;
  background-color: #f2f2f2;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.explanation {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.container__explanation {
  margin-bottom: 3rem;
}

.button__run-analysis:hover {
  background-color: #d3e9e9;
}

/**********************/
/* ANALYSIS SELECTION */
/**********************/
.selection-container {
  overflow-y: auto;
  padding: 1rem 2rem 1rem;
}

.selection-header-1 {
  display: flex;

  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

/* .selection-list {

} */

.selection-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;

  font-size: 1.75rem;
  font-weight: 500;

  padding: 1rem;

  transition: 0.15s;
}

.selection-list-item:hover {
  cursor: pointer;

  background-color: #d3e9e9;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(78, 78, 78, 0.089);
}

/**********************/
/* CHART WINDOW */
/**********************/
.chart-window {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-window-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #888;
}


/**********************/
/* LOG IN */
/**********************/

.login-container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  
}

.login-form {
  padding: 20rem 15rem;

  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(78, 78, 78, 0.089);
}

.heading-secondary {
  font-size: 3rem;
}

.button__login {
  color: #93DBDE;
}

.button__login:hover {
  background-color: #0E5246;
}

